.arrow {
  width: 3.5rem;
  height: 3.5rem;
  background: url('../../assets/arrow.png') no-repeat center/cover, #fff;
  border: none;
  border-radius: 0.125rem;
  cursor: pointer;

  &:hover {
    background: url('../../assets/arrow-hovered.png') no-repeat center/cover, #fff;
  }

  &:disabled {
    background: url('../../assets/arrow-disabled.png') no-repeat center/cover, #E0E0E0;
  }

  &_left {
    transform: rotate(180deg);
  }
}