.header {
  max-width: 90rem;
  min-height: 7.25rem;
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
  background-color: #FFFFFF;

  &__user-avatar-and-name {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  &__user-avatar {
    height: 3.25rem;
    width: 3.25rem;
    border: 1px solid #E0E0E0;
    background: url('../../assets/images/user-avatar.png') center no-repeat;
  }

  &__user-name {
    margin-left: 1.25rem;
    max-width: 32rem;
    font-weight: 700;
    font-size: 1.125rem;
    font-family: Gilroy, Arial, sans-serif;
  }

  &__lk {
    margin-left: auto;
  }
}