.footer {
  max-width: 90rem;
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 5rem;
}

.footer__copyright {
  font-size: 1rem;
}

.footer__social-icons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 6.5rem;
}

.footer__icon {
  transition: opacity ease 500ms;
}

.footer__icon:hover {
  opacity: 0.5;
}